USE [master]
GO
/****** Object:  Database [quanLyduAn]    Script Date: 8/14/2017 11:28:19 AM ******/
CREATE DATABASE [quanLyduAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanLyduAn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\quanLyduAn.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanLyduAn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\quanLyduAn_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanLyduAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanLyduAn]
GO
/****** Object:  Table [dbo].[DU_AN]    Script Date: 8/14/2017 11:28:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DU_AN](
	[MA_DUAN] [nvarchar](5) NOT NULL,
	[TEN_DUAN] [nvarchar](255) NULL,
	[NGAY_BATDAU] [datetime] NULL,
	[NGAY_KETTHUC] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 8/14/2017 11:28:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ID_NhanVien] [int] NOT NULL,
	[HO_NV] [nvarchar](255) NOT NULL,
	[TEN_NV] [nvarchar](255) NULL,
	[NAM_SINH] [datetime] NULL,
	[DIA_CHI] [nvarchar](255) NULL,
	[GIOI_TINH] [bit] NOT NULL,
	[LUONG] [money] NULL,
	[PHG] [nvarchar](5) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG_BAN]    Script Date: 8/14/2017 11:28:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_BAN](
	[MA_PB] [nvarchar](5) NOT NULL,
	[TEN_PB] [nvarchar](255) NULL,
	[MA_TRUONGPHONG] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANLY_DUAN]    Script Date: 8/14/2017 11:28:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY_DUAN](
	[MA_DUAN] [nvarchar](5) NOT NULL,
	[MA_NHANVIEN] [int] NOT NULL,
	[NGAY_THAM_GIA] [datetime] NULL,
	[NGAY_KET_THUC] [datetime] NULL,
	[SO_GIO] [int] NULL,
	[VAI_TRO] [nvarchar](255) NULL
) ON [PRIMARY]

GO
USE [master]
GO
